<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Reserve a table:</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>RESERVATION</h1>
<form action="#" th:action="@{/table}" th:object="${table}" method="post">
    <p>id: <input type="text" th:field="*{id}"/></p>
    <p>from: <input type="text" th:field="*{from}"/></p>
    <p>to: <input type="text" th:field="*{to}"/></p>
    <p>person name: <input type="text" th:field="*{personName}"/></p>
    <p>people: <input type="text" th:field="*{numberOfPeople}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>